.container-text {
    margin: 29px 0;
}

.container-text label {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 700;
}

.container-text input {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 10px 10px 30px 0px #0000000F;
    border: none;
    padding: 30px 21px;
    font-size: 18px;

}